name: CI/CD Second Pipeline
on:
  push:
    branches: 
    - develop
env:
  APP_NAME: app202
  NODE_VERSION: "18"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
  
      - name: Setup Node
        uses: actions/setup-node@v4'
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: install dependencies
        run: npm install
    
